*{
    font-size: 1.5vw;
}

header{
    display:flex;
    justify-content:space-between;
    background-color: #1D72C2;
}

header a:link, a:visited ,a:active{
    text-decoration:none;
    color:#fff;
    font-family: Open;
}

#header1 a h2{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

#header2{
    display:flex;
    align-items:center;
}

#header2  div p{
    padding-left: 2.5vw;
    color: #fff;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

/* para agregar un pais*/




/* arbol */

#cajaAggRegion{
    position: absolute;
    left: 75vw;
    border: 1px solid black;
    width: 10vw;
    display:flex;
    justify-content: center;
}

#cajaAggPais{
    position: relative;
    left: 62.4vw;
    bottom: 3.3vw;
    border: 1px solid black;
    width: 10vw;
    display:flex;
    justify-content: center;
}

/* Remove default bullets */
ul, #regiones, #pais {
    list-style-type: none;
}

ul,li{
    padding: 0.5vw;
}

li{
    padding-left: 2vw;
}

  
  /* Remove margins and padding from the parent ul */
#editar, #eliminar{
    position: relative;
    left: 2vw;
    bottom: 3.2vh;
    border: 1px solid black;
    width: 5vw;
    display:flex;
    justify-content: center;
}

#eliminar{
    left: 6vh;
    width: 7vw;
}

#paisNombre{
    display: flex;
}

#paises{
    margin: 0;
    position: relative;
    bottom: 2.5vw;
    
}

#ciudades{
    position: relative;
    bottom: 6vh;
}
#region{
    margin-bottom: 5vw;
}

#regiones{
    margin: 0;
    padding-top: 6vw;
    padding-left: 10vw;
  }
  
  /* Style the caret/arrow */
.caret {
    cursor: pointer;
    user-select: none; /* Prevent text selection */
  }
  
  /* Create the caret/arrow with a unicode, and style it */
.caret::before {
    content: "\25B6";
    color: black;
    display: inline-block;
    margin-right: 6px;
  }
/* Rotate the caret/arrow icon when clicked on (using JavaScript) */
.caret-down::before {
    transform: rotate(90deg);
    display: inline-block;
    position: relative;
    /*bottom:1.5vw;
    right: 1.8vw;*/
}



/* agregar x cosa */
#crearX{
    position: absolute;
    border: 1px solid black;
    left: 40%;
    top: 25%;
    height: 42vh;
    width: 25vw;
    z-index: 99;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5vw;
}


/* importantes */
.blur{
    filter: blur(2px);
}

.none-blur{
    filter: blur(0);
}
.display-flex{
    display:flex;
}

.display-none{
    display: none;
}

.display-block{
    display: block;
}