/* estilos del header*/
button{
    cursor: pointer;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header{
    display:flex;
    justify-content:space-between;
    background-color: #1D72C2;
}

header a:link, a:visited ,a:active{
    text-decoration:none;
    color:#fff;
    font-family: Open;
}

#header1 a h2{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

#header2{
    display:flex;
    align-items:center;
}

#header2  div a{
    padding-left: 2.5vw;
    color: #fff;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-right: 1vw;
    
}
/* agg contacto */

#cajaAzul{
    display:flex;
    justify-content:space-between;
    color: #fff;
    
    background-color: #1D72C2;
    height: 15vh;
}

#cajaAzul p{
    padding: 2vh;
}

#cajaAzul h2{
    padding-left: 2vh;
}

#cajaDatos{
    position: absolute;
    border: 3px solid #0683F9;
    z-index: 99;
    top: 10vh;
    background-color: white;
    left: 15vw;
    padding: 1.5vw;
    display: flex;
    border-radius: 0.5vw;
}

#cajaDatos2{
    position: relative;
    display: flex;
    top: 18vh;
    left: 4vw;
}

#cajaDatos2 div{
    padding-left: 1vw;
}


#cajaDatos div{
    padding-left: 1vw;
}

select{
    width: 11vw;
}

#selectCompania{
    width: 12.5vw;
}

#cajaAggContacto{
    width: 80vw;
    left: 10vw;
    position: relative;
    height: 60vh;
    border: 1px solid black;
    margin-top: 5vh;
}

#xCajaAzul{
    cursor: pointer;
}

#btnCajaGuardarUsuario{
    position: relative;
    left: 3vw;
    top: 10vh;
}

#btnCajaGuardarUsuario button{
    height: 8vh;
}

#iptInteres{
    width: 12vw;
    
}

/* estilos login*/
.login{
    display: inline-block;
    position: relative;
    font-size: 2vw;
    top: 22vh;
    left: 38vw;
}

#loginBorde{
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 25vw;
    border: 1px solid black;
    background-color: #E8E8E8;
    height: 32vh;
    z-index: 99;
}

.container1{
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 5vh;
}

#aggContacto, #expContacto{
    background: #0683F9;
    color: #fff;
    height: 10vh;
    border-radius: 2px;
    border-radius: 2px;
    font-size: 1.2vw;
    
}

#container1 div{
    margin: 2vw
}

.container2{
    width: 100%;
    border: 0.8px;
    border: 0.8px solid black;
    position: relative;
    top: 10vh;
}
tr{
    margin: 100px;
}

td{
    text-align: center;
    padding: 1vw;
}

th{
    
    border-bottom: 1px solid black;
}

#email{
    color: #A4A4A4;
    position: relative;
    top: -1vw;
}



#botonesCont1{
    position: relative;
    top: 5.5vh;
}

#interes{
    display: flex;
    position: relative;
    top: 4vh;
}

.porcentaje{
    display: inline-block;
}

.barraProgreso{
    border: 1px solid black;
    width: 90%;
    height: 10px;
    border-radius: 12vw;
    display: flex;
    position: relative;
    top: 3vh;
}

.checked{
    background-color: #E8E8E8;
}

.porcentajeUno100{
    background-color: #DE0028;
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 12vw;
    z-index: 99;
}

.porcentajeUno75{
    background-color: #FF6F00;
    width: 75%;
    height: 100%;
    display: block;
    border-top-left-radius: 12vw;
    border-bottom-left-radius: 12vw;
    z-index: 99;
}

.porcentajeDos75{
    background-color:#E8E8E8;
    width: 25%;
    height: 100%;
    display: block;
    border-top-right-radius: 12vw;
    border-bottom-right-radius: 12vw;
}

.porcentajeUno25{
    background-color: #1CC1F5;
    width: 25%;
    height: 100%;
    display: block;
    border-top-left-radius: 12vw;
    border-bottom-left-radius: 12vw;
    z-index: 99;
}

.porcentajeDos25{
    background-color:#E8E8E8;
    width: 75%;
    height: 100%;
    display: block;
    border-top-right-radius: 12vw;
    border-bottom-right-radius: 12vw;
}


.porcentajeUno50{
    background-color: yellow;
    width: 50%;
    height: 100%;
    display: block;
    border-top-left-radius: 12vw;
    border-bottom-left-radius: 12vw;
    z-index: 99;
}

.porcentajeDos50{
    background-color:#E8E8E8;
    width: 50%;
    height: 100%;
    display: block;
    border-top-right-radius: 12vw;
    border-bottom-right-radius: 12vw;
}

.delete{
    position: relative;
    left: 85vw;
    top: 3vw;
    display: inline-block;
}

.delete button{
    background-color: #1D72C2;
    color: white;
    width: 8vw;
    height: 8vh;
}

/* cosas del la barra de interes*/

.__range input
{
  outline: none;
	-webkit-appearance: none;
	background-color: #aaa;
	height: 3px;
	width: 100%;
	margin: 10px auto;
}
.__range input::-webkit-slider-thumb
{
	-webkit-appearance: none;
	width: 20px;
	height: 20px;
	background-color: green;
	border-radius: 50%;
	cursor: -moz-grab;
	cursor: -webkit-grab; 
}            
.__range input::-moz-range-thumb
{
	-webkit-appearance: none;
	width: 20px;
	height: 20px;
	background-color: green;
	border-radius: 50%;
	cursor: -moz-grab;
	cursor: -webkit-grab; 
}
.__range input::-ms-thumb
{
	-webkit-appearance: none;
	width: 20px;
	height: 20px;
	background-color: green;
	border-radius: 50%;
	cursor: -moz-grab;
	cursor: -webkit-grab; 
}
.__range-step{
	position: relative;                
}

.__range-max{
	float: right;
}
.__range-step input::-webkit-slider-thumb
{
	background: transparent;
}            
.__range-step input::-moz-range-thumb
{
	background: transparent;
}
.__range-step input::-ms-thumb
{
	background: transparent;
}
.__range-step datalist {
	position:relative;
	display: flex;
	justify-content: space-between;
	height: auto;
	bottom: 16px;
	/* disable text selection */
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */                
	user-select: none; /* Standard */
	/* disable click events */
	pointer-events:none;  
}
.__range-step datalist option {
	width: 10px;
	height: 10px;
	min-height: 10px;
	border-radius: 100px;
	/* hide text */
	white-space: nowrap;       
  padding:0;
  line-height: 40px;
}




/* cosas importantes*/
.display-none{
    display: none;
}

.blur{
    filter: blur(2px);
}

.none-blur{
    filter: blur(0);
}


#btnIngresar{
    position: relative;
    top: 3vh;
    width: 10vw;
}